
name: Get Env

on:
  workflow_dispatch:

jobs:
  generate-logs:
    name: Print Env - ${{ matrix.os }} [${{ matrix.runner_owner }}]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04-ppc64le
            runner_owner: "github-hosted"
          # - os: ubuntu-22.04-powervs-selfhosted
          #   runner_owner: "actions-runner-ppc64le"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Print Env
        run: |
          docker ps
